@tailwind base;
@tailwind components;
@tailwind utilities;

.prosemirror-editor,
.prosemirror-editor ProseMirror,
.prosemirror-editor ProseMirror-focused {
  outline: none;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 100%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 85%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
